@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.banner{
    background: url('../img/espaço.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.perfil{
    border-radius: 50%;
    border: #fff solid 0.5rem;
    height: 60vh;
}

.myname {
    font-family: 'dois', sans-serif;
    font-size: 4rem;
    color: #fff;
    font-weight: 600;
}


@media (max-width: 576px) { 
    .banner {
        background-position: center;
        height: 80vh;
    }
    .perfil{
       height: 100%;

    }
    .myname {
        font-family: 'dois', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 1200px) { 
    .banner {
        background-position: right;
        height: 80vh;
    }
    .perfil{
       height: 100%;

    }
    
}

.habilidades{
    font-family: 'Lobster', cursive;
    color: brown;
}

